<div class="tv-order-card"
     data-status="<%= status %>"
     data-queue-position="<%= position %>">
  <div class="tv-order-pos">#<%= position %></div>
  <div class="tv-order-number"><%= order.order_number %></div>
</div>
